<div id="pin_show" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading pin_image">
				<%= image_tag @pin.image.url %>
			</div>
			<div class="panel-body">
				<h1><%= @pin.title %></h1>

				<p><%= @pin.description %></p>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6">
						<p class="user">
							Submitted <%= time_ago_in_words(@pin.created_at) %> ago by
							<%= @pin.user.email %>
						</p>
					</div>
					<div class="col-md-6">
						<div class="btn-group pull-right">
							<%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
								<span class="glyphicon glyphicon-heart">
									<%= @pin.get_upvotes.size %>
								</span>
							<% end %>
							
							<% if user_signed_in? %>
								<% if @pin.user == current_user %>
									<%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
									<%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
								<% elsif current_user.admin == true %>
									<%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
									<%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>